<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        color: cornflowerblue;
        font-size: 14px;
    }
</style>
{% for rs in feedback reversed %}
<div class="p-2">
    <div class="row">
        <div class="col-2">
            <h5 class="text-success">{{rs.createdby.name}}</h5>
            <h6>Age: {{rs.createdby.age}} || {{rs.createdby.gender}}</h6>
            <p>{{rs.createdby.phonenumber}}}</p>
            <p>Located: {{rs.createdby.district}} | {{rs.createdby.village}}</p>
        </div>
        <div class="col-6 mx-2">
            <p>Rating: {{rs.rating}}</p>
            <p>Comment: {{rs.comment}}</p>
            <p>Created: {{rs.DateTImeField}}</p>
        </div>
        <div class="col">
            <h6 class="text-secondary">Pending</h6>
        </div>
        <div class="col">
            <a href="/feedback/reply_feedback/{{rs.id}}" class="btn btn-danger">Reply</a>
        </div>
    </div>
    <hr style="width: 90%; text-align: center;">
</div>
{% endfor %}  