{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock header %}

{% block content %}
{% include 'leftbar.html' %}
<div class="right-container" style="margin: auto;">
    {% include 'topbar.html' %}
    <div class="home-cards">
        {% include 'sortCrops.html' %}
        <div class="row m-2">
            <div class="col">
                {% for rs in crop_videos %}
                <div class="card" style="width: 18rem;">
                    <video src="{{rs.english_video.url}}"></video>
                    <div class="card-body">
                        <h5 class="card-title">{{rs.title}}</h5>
                    </div </div>
                </div>
                {% endfor %}
            </div>

        </div>

        <script src="{% static '/js/jquery.js' %}"></script>
        {% endblock content %}