{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock header %}

{% block content %}
{% include 'leftbar.html' %}
<div class="right-container" style="margin: auto;">
    {% include 'topbar.html' %}
    <div class="home-cards">
        <div class="card">
            <div class="p-5">
                <h6>
                    ALL Districts And Villages
                </h6>
            </div>
        </div>
        <div class="card mt-2">
            <div style="text-align: left; padding: 10px;">
                {% for rs in villages %}
                <div class="text-left card m-2" >
                    <div class="p-2">
                        <div id="district" >
                            <h5>{{rs.districtid.name}}</h5>
                        </div>
                        <div id="village">
                            <p>{{rs.name}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#district").click(function () {
            $("#village").slideToggle("slow");
        });
    });
</script>
{% endblock content %}