<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        color: cornflowerblue;
        font-size: 14px;
    }
</style>

{% for rs in farmer_groups %}
<div class="title-card">
    <div class="row mt-5">
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.name}}</p>
            </div>
        </div>
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.female_farmers}}</p>
            </div>
        </div>
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.male_farmers}}</p>
            </div>
        </div>
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.phonenumber}}</p>
            </div>
        </div>
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.village}}</p>
            </div>
        </div>
    </div>
</div>
<hr style="width: 90%; margin: auto;">
{% endfor %}