<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        color: cornflowerblue;
        font-size: 14px;
    }
</style>

{{}}
{% for rs in farmer_groups %}
<div class="title-card">
    <div class="row mt-5">
        <div class="col-2">
            <p>{{rs.id}}</p>
        </div>
        <div class="col" >
            <div >
                <p style="text-align: left;">{{rs.name}}</p>
            </div>
        </div>
    </div>
</div>
<hr style="width: 90%; margin: auto;">
{% endfor %}