{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock header %}

{% block content %}
{% include 'leftbar.html' %}
<div class="right-container" style="margin: auto;">
    {% include 'topbar.html' %}
    <div class="home-cards">
        <div class="card">
            <div>
                <h6>
                    ALL MANUAL TRANSLATIONS
                </h6>
                <!-- <div class="row">
                    <div class="col">
                        Crops
                    </div>
                    <div class="col">
                        
                    </div>
                </div> -->
                <div>
                    <h5>Manuel</h5>
                </div>
            </div>
        </div>
        <div class="card mt-2">
            <div class="p-2">
                <div id="tomato_head" class="d-inline">
                    <div>
                        <h5 class="m-2 text-success" style="text-align: left;">Tomato</h5>
                    </div>
                    <div class="float-end">
                        <i id="drop_icon" class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div id="tomato_body" style="display:none;">
                    {% for rs in tomato %}
                    <div class="card card-body m-2">
                        <p>
                            <a class="btn btn-light">
                                {{rs.english}}
                            </a>
                        </p>
                        <div>

                            <div class="row">
                                <div class="col">
                                    <a class="text-success" href="#">View English Version</a>
                                </div>
                                <div class="col">
                                    <a class="text-success" href="#">View Lughara Version</a>
                                </div>
                                <div class="col">
                                    <a class="text-success" href="#">View English Version</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#tomato_head").click(function () {
            $("#tomato_body").slideToggle("slow");
        });
    });
</script>
{% endblock content %}