{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/video.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock header %}

{% block content %}
{% include 'leftbar.html' %}
<div class="right-container" style="margin: auto;">
    {% include 'topbar.html' %}
    <div class="home-cards">
        <div class="row">
            <div class="col-8">
                <div class="card mt-2">
                    <h3>Add Video</h3>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div>
                            {% csrf_token %}
                            {{form.media}} {{form.as_p}}
                        </div>
                        <div>
                            <button class="btn btn-success float-end m-2">Update Profile</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="{% static '/js/jquery.js' %}"></script>
{% endblock content %}