{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% endblock header %}

<style>
    .d-head:hover {
        background: #f5f5f5;
        cursor: pointer;
    }
</style>
{% block content %}
{% include 'leftbar.html' %}
<div class="right-container" style="margin: auto;">
    {% include 'topbar.html' %}
    <div class="home-cards">
        <div class="card">
            <div>
                <h5 class="p-2">
                    ALL Districts
                </h5>
            </div>
        </div>


        <div class="card mt-2">
            <div class="p-2">
                <div>
                    <h6 class="p-2">
                        Districts List
                    </h6>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <h6 class="text-success">District</h6>
                    </div>
                    <div class="col">
                        <h6 class="text-success">Village</h6>
                    </div>
                </div>
                <div class="row my-2">
                    {% for rs in districts %}
                    <div class="col">
                        <h6>{{rs.districtid}}</h6>
                    </div>
                    <div class="col">
                        <h6>{{rs.name}}</h6>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}