{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<link rel="stylesheet" href="{% static '/css/profile.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock header %}

<style>
    /* .home_cards p {
        color: red;
        font-size: 1.2em;
    } */
</style>
{% block content %}
{% include 'leftbar.html' %}


{% if user.is_authenticated %}    
<div class="right-container" style="margin: auto;">
    <!-- {% include 'topbar.html' %} -->
    <div class="home-cards">
        <div class="row">
            <div class="col-8">
                <div class="card m-2">
                    <h3>Change Password</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form.media}} {{form.as_p}}
                        <div>
                            <button class="btn btn-success float-end m-2">Update Password</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col">
                <div class="card m-2">
                    <div class="m-3">
                        <h5>{{user.username}}</h5>
                      </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endif %}


{% endblock content %}