<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        font-size: 14px;
    }

    .padding-0 {
        padding-right: 0;
        padding-left: 0;
    }
</style>
{% for rs in farmers reversed %}
<div class="title-card">
    <div class="row mt-3" style="margin: 5px;">  
        <div class="col">
            <p>{{rs.name}}</p>
        </div>
        <div class="col">
            <p>{{rs.age}}</p>
        </div>
        <div class="col">
           <p>{{rs.phonenumber}}</p>
        </div>
        <div class="col">
            <p>{{rs.village}}</p>
        </div>
        <div class="col">
            {% if rs.status == "1" %}
                <p>Active</p>
            {% else %}
                <p>Inactive</p>
            {% endif %}     
         </div>
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <a id="edit_link"  href="/farmers/updatefarmer/{{rs.id}}">Edit</a>
                    </div>
                    <div class="col-auto">
                        <a id="manuel_link" class="text-danger" href="/farmers/deletefarmer/{{rs.id}}/">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="width: 90%; margin: auto;">
{% endfor %}