{% extends 'base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock header %}


{% block content %}

{% include 'leftbar.html' %}
<div class="container crop-container" style="margin: auto;" id="main">
    <div>
        <div>
            <div class="row mt-5">
                <div class="col">
                    <h6>All Crops</h6>
                </div>
                <div class="col-6"></div>
                <div class="col">
                    <a href="/addcrop/" style="font-size: 14px;" class="btn btn-small btn-success"><i class="fa fa-file-text" style="font-size: 20px; margin-top: 5px; margin-bottom: -5px;"></i> Add Crop</a>
                </div>
            </div>
        </div>
        <!-- Headings -->
        <div class="container-div">
            <div class="card m-2" style="height: auto;">
            {% include 'searchTool.html' %}
                <div class="title-card">
                    <div class="row mt-5">
                        <div class="col">
                            <h6>Name</h6>
                        </div>
                        <div class="col">
                            <h6>Arabic</h6>
                        </div>
                        <div class="col">
                            <h6>Lugbar</h6>
                        </div>
                        <div class="col">
                            <h6>Image</h6>
                        </div>
                        <div class="col">
                            <h6>Action (Edit / Delete) </h6>
                        </div>
                    </div>
                </div>
                <hr style="width: 90%; margin: auto;">
                {% include 'crop_items.html' %}
                <div class="row">
                    <div class="col-md-3 offset-md-4">
                        <ul class="pagination justify-content-center">
                            {% if crop.has_previous %}
                            <li class="page-item">
                                <br>
                                <a class="btn btn-outline-success mx-1"
                                    href="?page={{crop.previous_page_number}}">Previous</a>
                            </li>
                            {% endif %}
                            <li class="page-item active">
                                <br>
                                <a class="btn btn-outline-success mx-1" href="?page={{crop.number}}">Current</a>
                            </li>

                            {% if crop.has_next %}
                            <li class="page-item">
                                <br>
                                <a class="btn btn-outline-success mx-1" href="?page={{crop.next_page_number}}">Next</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}