
{% for rs in crops %}
    <div class="title-card">
     <div class="row mt-5">
         <div class="col-2">
             <p>{{rs.id}}</p>
         </div>
         <div class="col">
             <p>{{rs.name}}</p>
         </div>
         <div class="col">
             <p>{{rs.arabic}}</p>
         </div>
         <div class="col">
             <p>{{rs.lugbar}}</p>
         </div>
         <div class="col ">
             <img style="width: 100px; margin-top: -40px; margin-bottom: 2px;" src="{{rs.image}}" alt="" srcset="">
         </div>
         <div class="col">
             <h6>Action</h6>
         </div>
     </div>
    </div>
    <hr style="width: 90%; margin: auto;">
{% endfor %}
    