<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        color: cornflowerblue;
        font-size: 14px;
    }
</style>
{% for rs in crops %}
<div class="title-card">
    <div class="row mt-5">
        <div class="col-2">
            <p>{{rs.id}}</p>
        </div>
        <div class="col">
            <p>{{rs.name}}</p>
        </div>
        <div class="col">
            <p>{{rs.arabic}}</p>
        </div>
        <div class="col">
            <p>{{rs.lugbar}}</p>
        </div>
        <div class="col ">
            <img style="width: 100px; margin-top: -40px; margin-bottom: 2px;" src="{{rs.image.url}}" alt="" srcset="">
        </div>
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <a id="edit_link"  href="/updatecrop/{{rs.id}}">Edit</a>
                    </div>
                    <div class="col-auto">
                        <a id="manuel_link" href="#">Manuel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="width: 90%; margin: auto;">
{% endfor %}