<style>
    #edit_link {
        color: #198754;
        font-size: 14px;
    }

    #manuel_link {
        font-size: 14px;
    }
</style>
{% for rs in farmers %}
<div class="title-card">
    <div class="row mt-5">  
        <div class="col">
            <p>{{rs.name}}</p>
        </div>
        <div class="col">
            <p>{{rs.age}}</p>
        </div>
        <div class="col">
            <p>{{rs.phonenumber}}</p>
        </div>
        <div class="col ">
           <p>{{rs.village}}</p>
        </div>
        <div class="col">
            <div class="col">
                <div class="row">
                    <div class="col-auto">
                        <a id="edit_link"  href="/farmers/updatefarmer/{{rs.id}}">Edit</a>
                    </div>
                    <div class="col-auto">
                        <a id="manuel_link" class="text-danger" href="/farmers/deletefarmer/{{rs.id}}/'">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr style="width: 90%; margin: auto;">
{% endfor %}