{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock header %}

{% block content %}q
<div class="left-col left-bg">
    <div class="container">
        <div class="container-fuild">
            <div class="logo">
                <div class="icondiv  d-inline">
                    <img class="icon" src="{% static '/icons/iknowfarm.png' %}" alt="" srcset="">
                </div>
                <div class="logo-text  d-inline">
                    <h5>IKNOWFARM</h5>
                    <hr style="width: 80%;">
                </div>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <h6>View Profile</h6>
            <hr style="width: 80%;">
        </div>

        <div class="mx-5">
            <div id="dashboard">
                <h6>DASHBOARDS</h6>
            </div>
        </div>
        <div class="m-5">
            <div id="crops">
                <h6>CROPS</h6>
            </div>
            <div class="m-2" id="all-crops" style="display: none;">
                <p>All Crops</p>
            </div>
        </div>
        <div class="m-5">
            <div id="livestock">
                <h6>LIVESTOCK</h6>
            </div>
            <div class="m-2" style="display: none;" id="all-livestock">
                <p>all livestock</p>
            </div>
        </div>
        <div class="m-5">
            <div id="farmers">
                <h5>FARMERS</h5>
            </div>
            <div class="m-2" id="all-farmers" style="display: none;">
                <p>Individual Farmers</p>
                <p>Group Farmers</p>
                <p>Account Mangement</p>
            </div>
        </div>
        <div class="m-5">
            <div id="translations">
                <h5>TRANSLATIONS</h5>
            </div>
            <div class="m-2" id="all-translations" style="display: none;">
                <p>Crop Translations</p>
                <p>Crop Manuals</p>
                <p>Livestock Translations</p>
                <p>Livestock Manuals</p>
            </div>
        </div>
        <div class="m-5">
            <div id="utilities">
                <h5>UTILITIES</h5>
            </div>
            <div class="m-2" id="district" style="display: none;">
                <p>Districts</p>
            </div>
        </div>
        <div class="m-5">
            <div id="upload">
                <h5>UPLOADS</h5>
            </div>
            <div class="m-2" id="all-uploads" style="display: none;">
                <p>Farmer Data Upload</p>
                <p>Crop Videos</p>
                <p>Livestock Videos</p>
                <p>General Videos</p>
            </div>
        </div>
        <div class="m-5">
            <h5>Profile</h5>
        </div>
    </div>
</div>
<div class="right-container" style="margin: auto;">
    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center"
                style="background: linear-gradient(60deg, #26c6da, #00acc1);
            box-shadow: 0 12px 20px -10px rgb(0 188 212 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(0 188 212 / 20%);">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/cloud-computing.png' %}" alt="" srcset="">
                </div>
            </div>
            <div class="card-text">
                <h5>App Installations</h5>
                <p>71,000</p>
            </div>
        </div>
    </div>

    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center"
                style="background: linear-gradient(60deg, #ab47bc, #8e24aa);
            box-shadow: 0 12px 20px -10px rgb(156 39 176 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(156 39 176 / 20%);">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/left-arrow.png' %}" alt="" srcset="">
                </div>
            </div>
            <h5>Unregistered Users</h5>
            <p>1,160</p>
        </div>
    </div>

    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center"
                style="background: linear-gradient(60deg, #ffa726, #fb8c00);
            box-shadow: 0 12px 20px -10px rgb(255 152 0 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(255 152 0 / 20%);">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/clock.png' %}" alt="" srcset="">
                </div>
            </div>
            <div class="card-text">
                <h6>App Users</h6>
                <p>14,000</p>
            </div>
        </div>
    </div>

    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center" style="
                background: linear-gradient(60deg, #ec407a, #d81b60);
                box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(233 30 99 / 40%);
            ">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/standing-up-man-.png' %}" alt="" srcset="">
                </div>
            </div>
            <div class="card-text">
                <h6>Male Farmers</h6>
                <p>35,000</p>
            </div>
        </div>
    </div>

    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center"
                style="background: linear-gradient(60deg, #ef5350, #e53935);
            box-shadow: 0 12px 20px -10px rgb(244 67 54 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(244 67 54 / 20%);">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/girl.png' %}" alt="" srcset="">
                </div>
            </div>
            <h6>Female Farmers</h6>
            <p>36,000</p>
        </div>
    </div>

    <div class="right-col">
        <div class="card">
            <div class="icon-card-div text-center"
                style="background: linear-gradient(60deg, #66bb6a, #43a047);
            box-shadow: 0 12px 20px -10px rgb(76 175 80 / 28%), 0 4px 20px 0px rgb(0 0 0 / 12%), 0 7px 8px -5px rgb(76 175 80 / 20%);">
                <div class="card-icon">
                    <img class="icon" src="{% static '/icons/farmer.png' %}" alt="" srcset="">
                </div>
            </div>
            <h5>Total Farmers</h5>
            <p>71,000</p>
        </div>
    </div>
</div>
<script src="{% static '/js/jquery.js' %}"></script>
{% endblock content %}