<style>
    .menu{
        background-color: white;
        margin: auto;
        width: 30px;
        border-radius: 50%;
    }

    .user{
        display: none;
    }
</style>
<header class="mt-2">
<div class="row">
    <div class="col-1"></div>
    <div class="col float-start">
        <div class="menu">
        <i class="fas fa-ellipsis-v"></i>
        </div>
    </div>
    <div class="col-4"></div>
    <div class="col float-end">
        <i class="fas fa-user"></i>
        <div class="user">
            <p>LogOut</p>
        </div>
    </div>
</div>
</header>