<style>
    .menu {
        background-color: white;
        margin: auto;
        width: 30px;
        border-radius: 50%;
    }

    .user {
        display: none;
    }

    .menu:hover{
        cursor: pointer;
    }

    #profile:hover{
        cursor: pointer;
    }
</style>
<header>
    <div class="row mt-3">
        <div class="col">
            <div class="menu">
                <i class="fas fa-ellipsis-v"></i>
            </div>
        </div>
        <div class="col-5"></div>
        <div class="dropdown col ">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1 profile" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-user"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1 user" id="user-mgt">
              <li><a class="dropdown-item" style="font-size: 14px;" href="/profile/logout/">LogOut</a></li>
            </ul>
          </div>
    </div>
</header>