.right-col{
    float: right;
    width: 80%;
    height: 200px;
    /* margin: auto; */
    /* padding: 20px; */
}
.icondiv{
    margin: auto;
    width: 40px;
}
.logo .icon{
    width: 40px;
}

.icon-card-div{
    width: 100px;
    height: 100px;
    background-color: purple;
    border-radius: 20px;
    float: left;
    margin-top: -50px;
    margin-left: 20px;

}


.card-icon{
margin: auto;
}
.card-icon .icon{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.right-container{
    width: 100%;
    text-align: center;
    float: right;
    flex-direction: column;
    order: 1;
}

.card-text{
    font-size: 16px;
    color: red;
    
}

.crop-container{
    text-align: center;
    width: 100%;
    /* float: right; */
    flex-direction: column;
    order: 1; 
}

.chart_card{
    float: right;
    margin: auto;
}

