body{
    background-image: url('./bg/loginbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.regdiv{
    margin-top: 200px;
}
.cover{
    margin: auto;
    width: 30%;
}

.intro-card{
    width: 80%;
    margin: auto;
    padding: 10px;
    z-index: 1;
}

.icon{
    width: 50px;
}

.form-fleids{
    padding-top: 50px;
    padding-bottom: 50px;
}
